{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<div class="twig-nasza-oferta-container flex justify-center"{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2 class=
    "
    twig-nasza-oferta-title
    text-center text-[#444] font-semibold relative z-[0] pt-[80px] pb-[50px]
    lg:text-[36px] md:text-[30px] text-[25px]
    
    before:absolute before:content-['Nasza_oferta'] before:text-[#fff] before:z-[-1]
    xl:before:w-[800px] xl:before:text-[120px] xl:before:top-[75px]
    md:before:w-[750px] md:before:text-[100px] md:before:top-[75px] md:before:left-[-270px]
    sm:before:w-[550px] sm:before:text-[85px] sm:before:top-[75px] sm:before:left-[-195px]
    before:w-[400px] before:text-[60px] before:top-[75px] before:left-[-125px]

    after:absolute after:contet-[''] after:inline-block after:w-[40px] after:h-[2px] after:bg-[#279e95]
    lg:after:top-[130px] lg:after:left-[95px]
    md:after:top-[130px] md:after:left-[75px]
    sm:after:top-[125px] sm:after:left-[62px]
    after:top-[120px] after:left-[60px]
    "
    {{ title_attributes }}>{{ label }}</div></h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="twig-nasza-oferta-box max-w-[960px] mx-auto">{{ content }}</div>
  {% endblock %}
</div>
