{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
{%
  set htmlClass = [
    "h-full",
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes.addClass(htmlClass) }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <link rel="stylesheet" async href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        separator: '§',
        theme: {
          container: {
            center: true,
            padding: {
              DEFAULT: '15px',
            },
            screens: {
              sm: '100%',
              md: '100%',
              lg: '100%',
              xl: '100%',
            },
          },
          extend: {
            colors: {
              primary: '#279e95',
            },
            width: {
              '88': '22rem',
              '92': '23rem',
            },
            inset: {
              '370px': '370px',
              '368px': '-368px',
              '680px': '680px',
            },
          },
          screens: {
              'xs2': '240px',
              'sm': '340px',
              'sm2': '640px',
            }
        }
      }
    </script>
  </head>
  {%
    set bodyClass = [
      "h-full text-[#787878] font-normal font-['Poppins'] text-[16px] leading-[27px]",
    ]
  %}
  <body {{ attributes.addClass(bodyClass) }}>
    
   

    {# -------------------------HEADER for mobile------------------------- #}
    {# Header for mobile MAP section#}
    <div class="mobile-container">
    <div data-map-mobile-content class="mobile-header-map
    hidden lg:hidden h-[250px] w-[100%] right-[100px] top-[20px]
    shadow-[0_5px_5px_rgba(0,0,0,0.1)]
    ">
      <iframe src=
      "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5057.837940265929!2d17.934027!3d50.665765!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x75e44f5b4c5cb98b!2sFundacja%20Przemijanie!5e0!3m2!1spl!2spl!4v1655463882753!5m2!1spl!2spl"
      width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>

    {# Header for mobile BOSS section #}
    <div data-boss-mobile-content class="mobile-header-boss
    hidden lg:hidden bg-[#f7f7f7] flex-col h-[250px] w-[100%] text-center
    justify-center px-10 right-[100px] text-[#444] font-light top-[-70px]
    shadow-[0_5px_5px_rgba(0,0,0,0.1)]
    ">
      <h5 class=" text-[20px] mb-[18px]">
        <i class="fa-solid fa-scale-balanced text-[25px] text-[#279e95] mr-[15px]"></i>Władze Fundacji
      </h5>
      
      <p class="mb-[15px] text-[15px] font-['Roboto']">ZARZĄD FUNDACJI:</p>
      
      <ul class="icn-list mb-[18px] text-[16px] pl-[24px] font-['Roboto']">
        <li class="mb-[18px]">Magdalena Osińska-Kurzywilk - Prezes</li>
        <li>Marek Trenka - Wiceprezes</li>
      </ul>
    </div>

    {# Header for mobile CONTACT section #}
    <div data-contact-mobile-content class="mobile-header-contact
    hidden lg:hidden bg-[#f7f7f7] flex-col h-[250px] w-[100%] text-center
    justify-center px-10 right-[100px] text-[#444] font-light top-[-20px]
    shadow-[0_5px_5px_rgba(0,0,0,0.1)]
    ">
      <h5 class="link-drop-title text-[20px] mb-[18px]">
        <i class="fa-solid fa-phone text-[25px] text-[#279e95] mr-[15px]"></i>Kontakt
      </h5>
      
      <p class="mb-[15px] text-[15px] font-['Roboto']">
        Kontakt z fundacją możliwa za pomocą telefonu oraz email.
      </p>
      
      <ul class="icn-list pl-[24px] font-['Roboto']">
        <li class="text-[24px] font-normal mb-[18px]">
          <span class="phone">
            <i class="fa-solid fa-phone text-[14px] text-[#279e95]"></i>  +48 728 182 993 i/lub 77 50 00 334
          </span>
        </li>

        <li class="text-[16px]">
          <a href="mailto:biuro@przemijanie.pl">
            <span>
              <i class="fa-solid fa-envelope text-[14px] text-[#279e95]"></i>  biuro@przemijanie.pl
            </span>
          </a>
        </li> 
      </ul>
    </div>
  </div>

    {# Open drop menu button (after scroll) #}
    <div data-btn-open-drop-menu class="btn-open-drop-menu group html-twig 
    invisible fixed right-[-33px] top-[73px] w-[80px] h-[60px] rotate-45
    pb-1 text-xl text-[#424242] hidden lg:flex justify-center items-end bg-[#269e9550]
    hover:bg-[#269e9590] hover:text-white hover:cursor-pointer
    ">
      <i class="fa-solid fa-plus -rotate-45"></i>
      <div class="hover-btn-title
      -rotate-45 absolute top-[79px] right-[40px] w-[98px] h-[28px] py-1 px-2
      bg-black text-sm text-white font-['Roboto']
      opacity-0 transition ease duration-200 group-hover:opacity-100

      after:content-[''] after:w-[10px] after:h-[10px] after:bg-[#000] after:rotate-45
      after:absolute after:right-[-4px] after:top-[9px]
      ">
        Otwórz panel
      </div>
    </div>

    {# Back to top btn after scroll#}
    <div data-btn-scroll-container id="btn-scroll-container" class="html-twig
    fixed right-[25px] bottom-[45px] w-[63px] h-[63px] z-[1]">

      <div data-back-to-top-button-hover id="back-to-top-button-hover" class="twig-back-to-top-btn-hover
      bottom-0 opacity-0 fixed w-[63px] h-[63px] rounded-full bg-[#279e9435] 
      transition-[ease_300] duration-300
      ">
      </div>

      <a data-back-to-top-button id="back-to-top-button" class="twig-back-to-top-btn
      bottom-0 opacity-0 fixed w-[63px] h-[63px] text-2xl text-white
      flex justify-center items-center rounded-full bg-[#279e95] cursor-pointer 
      transition-[ease_300] duration-300
      ">          
        <i class="fa-solid fa-arrow-up"></i>
      </a>
    </div>

    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
