{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
<div class="relative container mx-auto px-[15px] py-10 lg:py-[30px] mb-0 md:mb-52 lg:mb-40">
  {% if content %}
    <div {{ attributes.addClass('grid grid-cols-1 md:grid-cols-2 z-[-1]') }}>
      {% if content.first %}
        <div {{
          region_attributes.first.addClass(
            'layout__region',
            'layout__region--first'
          )
          }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{
          region_attributes.second.addClass(
            'layout__region',
            'layout__region--second lg:px-[30px] relative flex justify-end md:block over'
          )
          }}>
          {{ content.second }}
          <img class="absolute z-[-1] inset-y-0 left-auto right-[30px] xl:left-[75px]"
            src="{{ base_path }}{{ directory }}/assets/img/img-bg.png"
            alt="Tło" />
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
