{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
<div class="test1"></div>
  <{{ list.type }}{{ list.attributes.addClass('twig-ul grid grid-cols-1 md:grid-cols-2') }}>
    {% for row in rows %}
      <li class="drupal-wiersz-twig flex flex-col items-center relative mb-40 lg:mx-6"{{ row.attributes }}>
        {{- row.content -}}
        {# <div class="new-content">
          {{ field.title.row.content }}
          <div>{{ row.content['#row']._entity.title[0].value }}</div>

        </div> #}

      </li>
    {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}
