{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

{# <div class="twig-lista-aktualnosci group relative mb-[110px] flex flex-col md:flex-row md:mb-[30px]">
  <div class="lg:overflow-hidden">
    <div class="twig-zdjecie lg:group-hover:scale-[1.1] transition ease duration-500">
      {{ fields.field_zdjecie.content }}
    </div>
  </div>

  <div class="content-container bg-[#fff] w-fit h-fit px-[30px] py-[25px] text-[#444] absolute sm:w-auto sm:left-8 sm:-bottom-8 left-8 top-56 lg:text-[24px] lg:w-fit lg:px-[30px] lg:py-[25px]">
    <div class="twig-title uppercase font-semibold mb-[20px] hover:text-[#279e95] transition ease duration-200">
      {{ fields.title_1.content }}
    </div>

    <div class="twig-body text-[16px] font-normal mb-[20px] hidden lg:block">
      <span>{{ fields.body.content }}</span>
    </div>

    <div class="twig-date text-[#279e95] text-[14px] font-semibold">
      <span>{{ fields.created.content }}</span>
    </div>
  </div>
</div> #}

<div class="xl:container mx-auto flex flex-col md:flex-row flex-wrap mb-[110px] md:mb-[30px]">
{% for field in fields -%}
  {{ field.separator }}
  <div class="w-full md:w-1/3">
    {%- if field.wrapper_element -%}
      <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
    {%- endif %}
    
    {%- if field.label -%}
      {%- if field.label_element -%}
        <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
      {%- else -%}
        {{ field.label }}{{ field.label_suffix }}
      {%- endif %}
    {%- endif %}

    {%- if field.element_type -%}
      <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
    {%- else -%}
      {{ field.content }}
    {%- endif %}

    {%- if field.wrapper_element -%}
      </{{ field.wrapper_element }}>
    {%- endif %}
  </div>
{%- endfor %}
</div>